= form_for(@discipline) do |f|
  - if @discipline.errors.any?
    = error_messages_for @discipline

  .row
    .form-group
      = f.label :title, class: "col-sm-2"
      .col-sm-4
        = f.text_field :title, class: "form-control"

  .row
    .form-group
      = f.label :tip, class: "col-sm-2"
      .col-sm-4
        = f.select :tip, @types.each {|t| [t, t]}, class: "form-control"


  .row
    .actions.col-sm-offset-2
      = f.submit 'Сохранить'
