.row
	%label{class: "col-sm-3"}
		Фамилия
	.col-sm-9
		= @student.l_n 
.row
	%label{class: "col-sm-3"}
		Имя
	.col-sm-9
		= @student.f_n 
.row
	%label{class: "col-sm-3"}
		Отчество
	.col-sm-9
		= @student.s_n 
.row
	%label{class: "col-sm-3"}
		Дата рождения
	.col-sm-9
		= @student.birth 
.row
	%label{class: "col-sm-3"}
		Номер зачетной книжки
	.col-sm-9
		= @student.studbook
-if @student.avatar_file_name
	.row
		%label{class: "col-sm-3"}
			Аватар
		.col-sm-9
			= image_tag(get_avatar_student_path(@student))
.row
	.col-sm-2
		%a{href:"#", id: "get-groups-link"}
			Список работ

.row.groups-list{style: "display: none"}
	.form-group
		%label{class: "col-sm-3"}
			Список работ
		.col-sm-9
			.groups
				-@student.student_works.each do |work|
					.group
						=link_to work.title, work
				-if @student.student_works.empty?
					Список пуст
-if is_operator?
	=link_to edit_student_path(@student), class: "btn btn-warning btn-xs" do
		=fa_icon "edit"
		Редактировать
= link_to 'Назад', students_path

:javascript
	planController()