%h1 Listing duties

%table
  %thead
    %tr
      %th Discipline
      %th Student
      %th Document
      %th Name
      %th
      %th
      %th

  %tbody
    - @duties.each do |duty|
      %tr
        %td= duty.discipline
        %td= duty.student
        %td= duty.document
        %td= duty.name
        %td= link_to 'Show', duty
        %td= link_to 'Edit', edit_duty_path(duty)
        %td= link_to 'Destroy', duty, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Duty', new_duty_path
