%p#notice= notice


%p
  = @specialty.code 
%p
  = @specialty.gen
%p
  = @specialty.title 
%p
  = @specialty.level 



= link_to 'Редактировать', edit_specialty_path(@specialty)
= link_to 'Назад', specialties_path
