%h1 Планы

%table.table.table-bordered
  %thead
    %tr
      %th= Plan.human_attribute_name(:specialty_id)
      %th= Plan.human_attribute_name(:learn_period)
      -if is_operator?
        %th Действия


  %tbody
    -@plans.each do |plan|
      %tr
        %td= link_to plan.specialty.title,plan_path(plan)
        %td= plan.learn_period
        -if is_operator?
          %td
            = link_to edit_plan_path(plan), class: "btn btn-warning btn-xs" do
              =fa_icon "edit"
              Редактировать
            = link_to plan_path(plan), :method => :delete, :data => { :confirm => 'Вы уверены?' }, class: "btn btn-danger btn-xs" do
              =fa_icon "remove"
              Удалить


-if is_operator?
  = link_to 'Новый план', new_plan_path, "data-toggle" => "tooltip", :title => "Создать учебный план", class: "btn btn-primary btn-xs"
